@use "variables" as *;
@use "mixins" as *;

body {
    margin: 0;
}
header { // *** The Header / Navigation Bar
    @include light-on-dark;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    .navigation-bar { // navigation
        text-align: center;
        @media (min-width: $bp-tablet) { // media query for entire nav bar
            display: flex;
            margin: 0;
            width: auto;
            height: auto;
            flex-direction: row;
            align-items: center;
            gap: 5%;
        }

        &__left .site-logo { // site logo
            padding-top: 5%;
            @include BandSite-Logo;
            @media (min-width: $bp-tablet) { // media query for site-logo
                padding-left: 5vw;
            }
        }
        &__right .navigation-menu { // menu items
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            @include silver-inactive-link; // inactive links
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media (min-width: $bp-tablet) { // media query for nav menu
                gap: 5vw;
            }
            li {
                width: 50%;
                padding-bottom: 5%;
                @include hover-state-link; // hover state link

                @media (min-width: $bp-tablet) { // media query for li elements
                    width: auto;
                    padding-top: 20%;
                    padding-bottom: 20%;
                }
            }
            .navigation-menu--current { // active link
                border-bottom: 5px solid;
                border-color: $White;
                @include white-active-link;
            }
        }
    }
}
.contact { // *** The Footer / Contact Section
    @include light-on-dark;
    @include primary-text-white;
    @include padding-left-right;
    @include padding-top-bottom;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    &__header { // section header
        display: flex;
        flex-direction: column;
        @include section-header;
        h2 {
            margin: 0;
            font-weight: 600; 
        }
        .contact__header-icons { // section header - social media icons
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            column-gap: 30px;
            img {
                width: auto;
                height: 20px;
            }
        }
        @media (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 20px;
        }
    }
    @media (min-width: $bp-tablet) { // media query for entire contact section
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__contacts { //contacts list
        @include footer-copy;
        @include padding-top-bottom;
        .contact__contacts-column {
            @media (min-width: $bp-tablet) { // media query for contacts column
                display: flex;
                flex-direction: column;
            }
        }
        .contact__contacts-name {
            line-height: 10px;
        }
        .contact__contacts-location {
            display: inline;
        }
        .contact__contacts-email {
            padding-bottom: 5%;
        }
        @media (min-width: $bp-tablet) { // media query for contacts list
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 60px;
        }
    }
    &__logo { // site logo
        margin: 0;
        padding-top: 0;
        // padding-left: 5%;
        padding-bottom: 5%;
        @media (min-width: $bp-tablet) {
            position: absolute;
            right: 0;
            padding-right: 5%;
            padding-top: 20px;
        }
    }
    &__copyright { // copyright
        font-size: smaller;
    }
}