@use "variables" as *;
@use "mixins" as *;

header {
    @include light-on-dark;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    .navigation-bar { //navigation
        text-align: center;

        @media (min-width: $bp-tablet) {
            display: flex;
            margin: 0;
            width: auto;
            height: auto;
            flex-direction: row;
            align-items: center;
            gap: 5%;
        }

        &__left .site-logo { //site logo
            padding-top: 5%;
            @include Bandsite-Logo;
            @media (min-width: $bp-tablet) {
                padding-left: 5vw;
            }
        }
        &__right .navigation-menu { //menu items
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            @include silver-inactive-link; //inactive links
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media (min-width: $bp-tablet) {
                gap: 5vw;
            }
            li {
                width: 50%;
                padding-bottom: 5%;
                @include hover-state-link; //hover state link

                @media (min-width: $bp-tablet) {
                    width: auto;
                    padding-top: 20%;
                    padding-bottom: 20%;
                }
            }
            .navigation-menu--current { //active link
                border-bottom: 5px solid;
                border-color: $White;
                @include white-active-link;
            }
        }
    }
}
.contact {
    @include light-on-dark;
    @include primary-text-white;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    &__header { //section header
        display: flex;
        flex-direction: column;
        @include subheader;
        h2 {
            margin: 0;
            font-weight: 600; 
        }
        .contact__header-icons {
            margin-top: 5%;
            margin-bottom: 5%;
            display: flex;
            column-gap: 10%;
            img {
                width: 10%;
                height: auto;
            }
        }
    }
    &__contacts { //contacts list
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        @include footer-copy;
        .contact__contacts-name {
            line-height: 10px;
        }
        .contact__contacts-location {
            display: inline;
        }
        .contact__contacts-email {
            padding-bottom: 5%;
        }
    }
    &__logo { //site logo
        margin: 0;
        padding-top: 0;
        padding-bottom: 5%;
    }
    &__copyright { //copyright
        font-size: smaller;
    }
}

@media (max-width: $bp-tablet) {
    .contact__logo {
        display: flex;
    }
}