@use "variables" as *;

// Font Colors Only
@mixin primary-text-dark { //Primary text color for dark on light background. Dark background color.*/
    font-family: 'Avenir'; 
    color: $BandSite-Black;
}
@mixin secondary-text { //Secondary text color. Inactive CTA text color.*/
    font-family: 'Avenir';
    color: $Silver;
}
@mixin primary-text-white { //Primary text color for light on dark background. Light color background. Active CTA text color.*/
    font-family: 'Avenir';
    color: $White;
}
// Font Styles Only (without colors)
@mixin page-header { // Page Header - Mobile
    h1 {
        font-family: 'Avenir';
        font-size: 1.8rem;
        line-height: 68px;
        font-weight: 600;
        @media (min-width: $bp-tablet) { // Page Header - DeskTop & Tablet
            font-size: 4rem;
            line-height: 32px;
        }
    }
}
@mixin section-header { // Section Header - Mobile
    h2 {
        font-family: 'Avenir';
        font-size: 1.7rem;
        line-height: 32px;
        font-weight: 600;
        @media (min-width: $bp-tablet) { // Section Header - DeskTop & Tablet
            font-size: 2.4rem;
            line-height: 68px;
        }
    }
}
@mixin subheader { // Subheader - Mobile
    h3 {
        font-family: 'Avenir';
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: 600;
        @media (min-width: $bp-tablet) { // Subheader - DeskTop & Tablet
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
}
@mixin body-copy { // Body Copy - Mobile
    p {
        font-family: 'Avenir';
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        @media (min-width: $bp-tablet) { // Body Copy - DeskTop & Tablet
            font-size: 13px;
            line-height: 18px;
        }
    }
}
@mixin footer-copy { // Footer - Mobile
    font-family: 'Avenir';
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
        @media (min-width: $bp-tablet) { // Footer - DeskTop & Tablet
            font-size: 0.9rem;
            line-height: 18px;
        }
}
@mixin labels-button-text { // Labels and Buttons Text - Mobile
    font-family: 'Avenir';
    font-size: 0.625rem;
    line-height: 20px;
    font-weight: 700;
    @media (min-width: $bp-tablet) { // Labels and Buttons Text - DeskTop & Tablet
        font-size: 0.75rem;
        line-height: 20px;
    }
}
// Header / Footer Light on Dark Background Styles
@mixin light-on-dark {
    background-color: $BandSite-Black;
    color: $White;
}
// Padding
@mixin padding-left-right {
    padding-left: 16px;
    padding-right: 16px;
    @media  (min-width: $bp-tablet) {
        padding-left: 36px;
        padding-right: 36px;
    }
}
@mixin padding-top-bottom {
    padding-top: 26px;
    padding-bottom: 16px;
    @media  (min-width: $bp-tablet) {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}
// Logo
@mixin BandSite-Logo {
    max-height: 20px;
    max-width: 120px;
}
// Links
@mixin silver-inactive-link { //Inactive State
    a {
        text-decoration: none;
        font-family: 'Avenir';
        color: $Mercury;
    }
}
@mixin white-active-link { //Active State
    a {
        text-decoration: none;
        @include primary-text-white;
    }
}
@mixin hover-state-link { //Hover State
    &:hover {
        text-decoration: none;
        border-bottom: 5px solid;
        border-color: $White;
        @include white-active-link;    
    }
}
// Section Images
@mixin section-image { // Media query for section images in desktop mode
    @media (min-width: $bp-desktop) {
        max-width: 100%;
    }
    
}