@use "variables" as *;

// Font Colors Only
@mixin primary-text-dark { //Primary text color for dark on light background. Dark background color.*/
    font-family: Avenir; 
    color: $BandSite-Black;
}
@mixin secondary-text { //Secondary text color. Inactive CTA text color.*/
    font-family: Avenir;
    color: $Silver;
}
@mixin primary-text-white { //Primary text color for light on dark background. Light color background. Active CTA text color.*/
    font-family: Avenir;
    color: $White;
}
// Font Styles Only (without colors)
@mixin page-header { // Page Header - Mobile
    font-family: Avenir;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    @media (min-width: $bp-tablet) { // Page Header - DeskTop & Tablet
        font-size: 24px;
        line-height: 32px;
    }
}
@mixin section-header { // Section Header - Mobile
    font-family: Avenir;
    font-size: 36px;
    line-height: 68px;
    font-weight: 700;
    @media (min-width: $bp-tablet) { // Section Header - DeskTop & Tablet
        font-size: 24px;
        line-height: 32px;
    }
}
@mixin subheader { // Subheader - Mobile
    font-family: Avenir;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    @media (min-width: $bp-tablet) { // Subheader - DeskTop & Tablet
        font-size: 14px;
        line-height: 22px;
    }
}
@mixin body-copy { // Body Copy - Mobile
    font-family: Avenir;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    @media (min-width: $bp-tablet) { // Body Copy - DeskTop & Tablet
        font-size: 13px;
        line-height: 18px;
    }
}
@mixin footer-copy { // Footer - Mobile
    font-family: Avenir;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    @media (min-width: $bp-tablet) { // Footer - DeskTop & Tablet
        font-size: 13px;
        line-height: 18px;
    }
}
@mixin labels-button-text { // Labels and Buttons Text - Mobile
    font-family: Avenir;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    @media (min-width: $bp-tablet) { // Labels and Buttons Text - DeskTop & Tablet
        font-size: 10px;
        line-height: 20px;
    }
}
// Header / Footer Light on Dark Background Styles
@mixin light-on-dark {
    background-color: $BandSite-Black;
    color: $White;
}
// Logo
@mixin Bandsite-Logo {
    max-height: 20px;
    max-width: 120px;
}
// Header & Footer Inactive Links
@mixin silver-inactive-link {
    a {
        text-decoration: none;
        font-family: Avenir;
        color: $Mercury;
    }
}
@mixin white-active-link {
    a {
        text-decoration: none;
        @include primary-text-white;
    }
}