// Colors
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
$BandSite-Black-Overlay: #32323280;
$Form-Error-Border: #D22D2D;

// Media Breakpoints
$bp-desktop: 1280px;
$bp-tablet: 768px;
