@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/Font/AvenirNextLTPro-Regular.ttf");
}
@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/Font/AvenirNextLTPro-Bold.ttf");
}
@font-face {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/Font/AvenirNextLTPro-Demi.ttf");
}
body {
  margin: 0;
}

header {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}
header .navigation-bar {
  text-align: center;
}
@media (min-width: 768px) {
  header .navigation-bar {
    display: flex;
    margin: 0;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }
}
header .navigation-bar__left .site-logo {
  padding-top: 5%;
  max-height: 20px;
  max-width: 120px;
}
@media (min-width: 768px) {
  header .navigation-bar__left .site-logo {
    padding-left: 5vw;
  }
}
header .navigation-bar__right .navigation-menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .navigation-bar__right .navigation-menu a {
  text-decoration: none;
  font-family: "Avenir";
  color: #E1E1E1;
}
@media (min-width: 768px) {
  header .navigation-bar__right .navigation-menu {
    gap: 5vw;
  }
}
header .navigation-bar__right .navigation-menu li {
  width: 50%;
  padding-bottom: 5%;
}
header .navigation-bar__right .navigation-menu li:hover {
  text-decoration: none;
  border-bottom: 5px solid;
  border-color: #FFFFFF;
}
header .navigation-bar__right .navigation-menu li:hover a {
  text-decoration: none;
  font-family: "Avenir";
  color: #FFFFFF;
}
@media (min-width: 768px) {
  header .navigation-bar__right .navigation-menu li {
    width: auto;
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
header .navigation-bar__right .navigation-menu .navigation-menu--current {
  border-bottom: 5px solid;
  border-color: #FFFFFF;
}
header .navigation-bar__right .navigation-menu .navigation-menu--current a {
  text-decoration: none;
  font-family: "Avenir";
  color: #FFFFFF;
}

.contact {
  background-color: #323232;
  color: #FFFFFF;
  font-family: "Avenir";
  color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}
.contact__header {
  display: flex;
  flex-direction: column;
}
.contact__header h2 {
  font-family: "Avenir";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .contact__header h2 {
    font-size: 2rem;
    line-height: 68px;
  }
}
.contact__header h2 {
  margin: 0;
  font-weight: 600;
}
.contact__header .contact__header-icons {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.contact__header .contact__header-icons img {
  width: auto;
  height: 20px;
}
@media (min-width: 768px) {
  .contact__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact__contacts {
  font-family: "Avenir";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .contact__contacts {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (min-width: 768px) {
  .contact__contacts .contact__contacts-column {
    display: flex;
    flex-direction: column;
  }
}
.contact__contacts .contact__contacts-name {
  line-height: 10px;
}
.contact__contacts .contact__contacts-location {
  display: inline;
}
.contact__contacts .contact__contacts-email {
  padding-bottom: 5%;
}
@media (min-width: 768px) {
  .contact__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
.contact__logo {
  margin: 0;
  padding-top: 0;
  padding-bottom: 5%;
}
@media (min-width: 768px) {
  .contact__logo {
    position: absolute;
    right: 0;
    padding-right: 5%;
    padding-top: 20px;
  }
}
.contact__copyright {
  font-size: smaller;
}

.hero {
  padding-left: 16px;
  padding-right: 16px;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5019607843), rgba(50, 50, 50, 0.5019607843)), url("/assets/Images/hero-bio.jpg");
  width: auto;
  height: 35vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero__left {
  font-family: "Avenir";
  color: #FFFFFF;
  margin: 0;
}
.hero__left h1 {
  font-family: "Avenir";
  font-size: 1.8rem;
  line-height: 68px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero__left h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

.about {
  padding-left: 16px;
  padding-right: 16px;
}
.about h2 {
  font-family: "Avenir";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about h2 {
    font-size: 2rem;
    line-height: 68px;
  }
}
.about p {
  font-family: "Avenir";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about p {
    font-size: 13px;
    line-height: 18px;
  }
}
.about h2 {
  font-family: "Avenir";
  color: #323232;
}
.about img {
  width: 100%;
  height: auto;
  background-size: cover;
}
@media (min-width: 768px) {
  .about img {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .about img {
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  .about__image--center {
    display: flex;
    justify-content: center;
  }
}
.about #teddy-quote {
  font-weight: 600;
  line-height: 25px;
}
.about__bio {
  font-family: "Avenir";
  color: #323232;
}
.about__bio h3 {
  font-family: "Avenir";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__bio h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.about__bio p {
  font-family: "Avenir";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about__bio p {
    font-size: 13px;
    line-height: 18px;
  }
}

.gallery {
  padding-left: 16px;
  padding-right: 16px;
}
.gallery h2 {
  font-family: "Avenir";
  color: #323232;
}
.gallery h2 h2 {
  font-family: "Avenir";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .gallery h2 h2 {
    font-size: 2rem;
    line-height: 68px;
  }
}
.gallery img {
  width: 100%;
  height: auto;
  background-size: cover;
}/*# sourceMappingURL=bio.css.map */