//  Partials
@use "../styles/partials/global" as *; // Global contains the navigation and footer
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.hero-shows {
    background-image: // Hero background image
    linear-gradient($BandSite-Black-Overlay, $BandSite-Black-Overlay),
        url("/assets/Images/hero-shows.jpg");
    @include hero-section;
    @include primary-text-white;
    @include page-header;
    @include subheader;
    @include padding-left-right;
    @include padding-top-bottom;
    background-position: left;
    flex-direction: column;
    align-items: initial; // Change this in the hero mixin?
    height: auto;
    &__header {
        @media (min-width: $bp-tablet) {
            width: 75%;
        }
        @media (min-width: $bp-desktop) {
            width: 500px;
        }
    }
    h3 {
        font-weight: 400;
        margin-bottom: 0;
    }
    h1 {
        @media (min-width: $bp-tablet) {
            margin-top: 20px;
        }
    }
    iframe {
        height: auto;
        @media (min-width: $bp-tablet) {
            width: 55%;
        }
        @media (min-width: $bp-desktop) {
            width: auto;
        }
    }
    &__soundcloud {
        padding-bottom: 20px;
    }
}
.shows {
    @include padding-left-right;
    @include padding-top-bottom;
    @include section-header;
    @include shows-subheader;
    @include body-copy;
    @include primary-text-dark;
    @include cta-button;
    @media (min-width: $bp-desktop) {
        display: flex;
        gap: 100px;
    }
    &__wrapper {
        @media (min-width: $bp-desktop) {
            flex-grow: 1;
        }
    }
    &__container {
        @media (min-width: $bp-tablet) {
            display: flex;
            justify-content: space-between;
        }
        &:hover {
            background-color: $Alabaster;
        }
        &--active.shows__container {
            background-color: $Mercury;
        }
    }
    &__container-bp {
        display: none;
        @media (min-width: $bp-tablet) {
            display: flex;
            justify-content: space-between;
            button {
                visibility: hidden;
            }
            h5 {
                width: 120px;
                @media (min-width: $bp-tablet) {
                    margin-bottom: 15px;
                }
            }
        }
    }
    h4 {
        @media (min-width: $bp-tablet) {
            display: none;
        }
    }
    p {
        @media (min-width: $bp-tablet) {
            width: 120px;
        }
    }
    #show-date {
        font-weight: 600;
    }
    hr {
        margin-top: 20px;
        color: $Mercury;
        border-top: 1px;
    }
}